.page p {
    color: $textcolourl;
}
.page ul li {
    color: $textcolourl;
}

.page strong {
    display: block;
}

.page i {
    padding-bottom: 10px;
}

.experience {
    clear: both;
}

.role strong {
    border-top: 1px solid $bgd;
}

.showmore {
    display: inline-block;
    margin-bottom: 20px;
    color: $brand;
    text-decoration: $brand underline solid;
    clear: both;
}