.techleft_and_techright {
    display: grid;
    grid-template: "techleft techright"
}

.techleft {
    grid-area: techleft;
}

.techright {
    grid-area: techright;
}

.education_and_interests {
    display: grid;
    grid-template: "education interests"
}

.education {
    grid-area: education;
}

.interests {
    grid-area: interests;
}

@media (max-width: 800px) {
    .techleft_and_techright {
        grid-template: "techleft" "techright"
    }
    .education_and_interests {
        grid-template: "education" "interests"
    }
}