li,p {
    line-height: 1.5;
}

dd, dt {
    line-height: 1.5;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 0.3rem;
}

.skills ul {
    list-style: none;
}

.interests ul {
    list-style: lower-roman;
}