@page {
    // size: 7in 9.25in;
    // margin: 27mm 16mm 27mm 16mm;

    size: A4 portrait;
    margin: 2cm;
}

.page {
    background-color: white;
    /* Reflect the paper width in the screen rendering (must match size from @page rule) */
    width: 21cm;
    box-shadow: $card;
    outline: 0;
}

@media (max-width: 800px) {
    .page {
        width: 100%;
    }
}

/* Defines a class for manual page breaks via inserted .page-break element */
div.page-break {
	page-break-after: always;
}
/* For top-level headings only */
h1:not(:first) {
	/* Force page breaks after */
	page-break-before: always;
}

/* For all headings */
h1, h2, h3, h4, h5, h6 {
	/* Avoid page breaks immediately */
	page-break-after: avoid;
}
/* For all paragraph tags */
p {
	/* Reset the margin so that the text starts and ends at the expected marks */
	margin: 0;
}
/* For adjacent paragraph tags */
p + p {
	/* Restore the spacing between the paragraphs */
	margin-top: 0.5cm;
}

/* For tables in the document */
table {
	/* Avoid page breaks inside */
	page-break-inside: avoid;
}


/* emoji icons */
p.role {
    font-weight: 600;
}
p.role::before {
    content: "👷‍♂️ ";
}

p.timeline::before {
    content: "🗓️ ";

}

p.tagline::before {
    content: "📌 ";
}

p.tech::before {
    content: "🔧 ";
}

/* inline list */
$inline_list_spacing: 10px;

ul.inline-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
	margin-top: -10px;
}

ul.inline-list li {
    margin-left: $inline_list_spacing;
}

ul.inline-list li:first-child {
    margin-left: 0;
}

ul.inline-list li::before {
    content: "|";
    margin-right: $inline_list_spacing;
}

ul.inline-list li.ng-hide::before {
    content: "";
}

ul.inline-list li:first-child::before {
    content: "";
    margin-right: 0;
}

/* Additional rule to handle visible elements */
ul.inline-list li:not(.ng-hide):first-of-type::before {
    content: "";
    margin-right: 0;
}

/* un-link the header hrefs */
h2 > a {
	text-decoration: none;
	color: $textcolour;
}

h2.company {
	background-color: lighten($accent, 25%);
}

.header.section {
	background-color: lighten($brand, 25%);
}

.education.section {
	background-color: lighten($brand, 25%);
}