@media print {
	html, body {
		/* Reset the document's background color */
		background-color: #fff !important;
	}
	.page {
		/* Reset all page styles that have been for better screen appearance only */
		/* Break cascading by using the !important rule */
		/* These resets are absolute must-haves for the print styles and the specificity may be higher elsewhere */
		width: initial !important;
		min-height: initial !important;
		margin: 0 !important;
		padding: 0 !important;
		border: initial !important;
		border-radius: initial !important;
		background: initial !important;
		box-shadow: initial !important;
		color: $textcolour !important;

		/* Force page breaks after each .page element of the document */
		page-break-after: always;
	}
	* > li {
		color: $textcolour !important;
	}
	* > p {
		color: $textcolour !important;
	}
	.section {
		// padding-top: $spacing / 3;
		// padding-bottom: $spacing / 3;
		// padding-left: $spacing;
		// padding-right: $spacing;
		padding: 0 !important;
		margin: 0 !important;
	}
	* {
		overflow: auto !important;
	}
	.end {
		page-break-after: always;
	}
	i.icon {
		display: none;
	}
	.showmore {
		display: none;
	}

	ul.skillmatch {
		// list-style-type: none;
		margin: 0;
		padding: 0;
		// overflow: hidden;
	}

	ul.skillmatch > li {
		font-size: smaller;
	}

	ul.duties {
		// list-style: disc !important;
		// list-style-type: disc !important;
		// margin-top: -20px;
		// display: list-item !important;
	}

	// ul.duties > li {
	// 	display: list-item !important;
	// 	list-style: disc !important;
	// 	// list-style-type: disc !important;
	// }
	ul.duties >li::before {
		content: "• ";
	}

	li.skillmatch {
		// float: left;
		// display: block;
		text-align: center;
		padding: 0 5px 2px 5px;
		margin: 0 5px 0px 5px;
		text-decoration: none;
		background-color: $brand !important;
		box-shadow:  inset 0 0 0 1000px $brand !important;
		color: white !important;
	}

	/* For links in the document */
	a {
		/* Prevent colorization or decoration */
		text-decoration: none;
		color: $textcolour;
	}

	.end {
		display: none;
	}

	h2.company {
		background-color: inherit;
	}
	
	.header.section {
		background-color: inherit;
	}
	
	.education.section {
		background-color: inherit;
	}
}
@media print and (color) {
	* {
		@include prefix((
			print-color-adjust: exact
		), webkit moz ms o);
	}
 }