$textcolour: #333;
$textcolourl: lighten($textcolour, 25%);
$textcolourll: lighten($textcolourl, 25%);
//$brand: #0076c9;
$brand: #75aafd;
//$accent: #C97700;
$accent: #f4b268;
$bg: white;
$bgd: darken($bg, 4%);
$bgdd: darken($bg, 8%);
$phi: 1.61803398875;
$border: 3px solid $brand;
$card: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$size: 12pt;

$spacing: 60px;

// import before others
@import 'prefixer';

@import 'page';
@import 'brand';
@import 'icons';
@import 'grid';
@import 'print';
@import 'layout';
@import 'lists';

// sections
@import 'header';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: $textcolour;
    background-color: $bgd;

    font-family: 'Libre Baskerville', serif;

    font-weight: normal;
    font-size: $size;
    margin: 30px;
}