<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
  <meta charset="UTF-8" />
  <base href="/cv/">
  <!-- <base href="/"> -->
  <title>Juan Uys &mdash; Senior developer</title>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
</head>

<body>

  <div class="page">
    <ui-view></ui-view>
  </div>

  <!-- ========= -->
  <!-- TEMPLATES -->
  <!-- ========= -->

  <script type="text/ng-template" id="home.html">
    <div class="header section">
      <img class="profile" src="{{$ctrl.images.profilePicImgURL}}">
      <h1 class="name">{{$ctrl.portfolio.contact.name}}</h1>
      <h3 class="job_title">{{$ctrl.portfolio.contact.role}}</h3>
      
      <p class="contact_links">
        <ul class="inline-list">
          <li ng-repeat="link in $ctrl.portfolio.contact.web" ng-show="link.show"><a ng-href="{{link.url}}">{{link.name}}</a></li>
        </ul>
      </p>


      <p>
        I’m a full-stack developer from Cheltenham with over {{$ctrl.yearsExperience}} years experience in industries ranging from government, e-commerce, energy, and fintech.

        {{$ctrl.portfolio.personal.statement.join(' ')}}</p>
      <p>My skills are {{$ctrl.portfolio.personal.skills | list}}, and my interests are {{$ctrl.portfolio.personal.interests | list}}.</p>
    </div>

    <div class="experience section">
      <h1 id="experience">Experience</h1>

      <div class="role" ng-repeat="role in $ctrl.portfolio.roles |limitTo: $ctrl.show.experience.n">
        <h2 class="company">
          <a ng-href="{{role.url}}">
            <img class="logo" ng-src="{{$ctrl.images.company_logos[role.company]}}" alt="{{role.company}} logo" />
          {{role.company}}
          </a>
        </h2>
        <p class="role">{{role.title}}</p>
        <p class="timeline">{{role.start}}<ng-show="!!role.end"> to {{role.end}}</ng-show><ng-show ng-show="!role.end"> now</ng-show></p>
        <p class="tagline">{{role.tagline}}</p>
        <ul class="duties">
          <li ng-repeat="duty in role.duties">{{duty}}</li>
        </ul>
        <p class="tech">Tech used: {{ (role.tech.programming.concat(role.tech.framework, role.tech.database, role.tech.other)).join(', ') }}</p>
      </div>

      <br/>
      <a ng-if="$ctrl.show.experience.n < $ctrl.show.experience.max" class="showmore" href="" ng-click="$ctrl.showMore('experience', 2)">Show 2 more</a>
      <span ng-if="$ctrl.show.experience.n < $ctrl.show.experience.max" class="showmore"> &mdash; </span>
      <a ng-if="$ctrl.show.experience.n < $ctrl.show.experience.max" class="showmore" href="" ng-click="$ctrl.showMore('experience', 999)">Show all</a>
    </div>

    <div class="education section">
      <h1 id="education">Education</h1>

      <ul>
        <li ng-repeat="edu in $ctrl.portfolio.education"><a ng-href="{{edu.url}}">{{edu.course}} ({{edu.institution}}, {{edu.year}})</a></li>
      </ul>
    </div>

    <div class="end section">
      <p><a href="https://github.com/uysio/cv">&lt;source for this cv/&gt;</a></p>
    </div>

  </script>

  <script type="text/ng-template" id="404.html">

    <p class="intro">Seek, and you shan't find.</p>

    <async-img
      class="headerimage intro"
      src="{{$ctrl.images.$404}}"></async-img>

  </script>

  <script type="text/ng-template" id="viz.html">
  </script>

  <script src="index.js"></script>
</body>

</html>